In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
categorical_df= pd.read_csv("clean_categorical.csv")
display(categorical_df.shape)
categorical_df.head()

(9134, 14)

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,0.0,0.5,2.0,F,0.5,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,0.5
1,Arizona,No,0.5,0.5,0.0,F,0.5,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,0.5
2,Nevada,No,1.0,0.5,2.0,F,0.5,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,0.5
3,California,No,0.0,0.5,0.0,M,0.5,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,0.5
4,Washington,No,0.0,0.5,2.0,M,0.0,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,0.5

In [5]:
numerical_df= pd.read_csv("numerical_cleaned.csv")
display(numerical_df.shape)
numerical_df.head()

(9134, 8)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Assuming you have numerical_df and categorical_df loaded
customer_df=pd.concat([numerical_df, categorical_df], axis=1) 
customer_df.shape

X=customer_df.drop('total_claim_amount', axis=1)     
y=customer_df['total_claim_amount']

In [37]:
X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)

print (X.shape, X_num.shape, X_cat.shape)

(9134, 21) (9134, 12) (9134, 9)

In [38]:
X_cat= pd.DataFrame(categorical_df)
X_cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,0.0,0.5,2.0,F,0.5,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,0.5
1,Arizona,No,0.5,0.5,0.0,F,0.5,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,0.5
2,Nevada,No,1.0,0.5,2.0,F,0.5,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,0.5
3,California,No,0.0,0.5,0.0,M,0.5,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,0.5
4,Washington,No,0.0,0.5,2.0,M,0.0,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,0.0,0.5,2.0,M,1.0,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,0.5
9130,California,Yes,0.5,0.5,2.0,F,0.5,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,0.5
9131,California,No,0.5,0.5,0.0,M,0.5,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,0.5
9132,California,No,0.5,0.5,2.0,M,0.5,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,1.0
9133,California,No,0.5,0.5,0.0,M,0.5,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,0.5

In [45]:
X_cat_ordinal = X_cat[['coverage','employmentstatus','location_code','vehicle_size','education']]
X_cat_ordinal

      coverage  employmentstatus  location_code  vehicle_size  education
0          0.0               2.0            0.5           0.5        0.5
1          0.5               0.0            0.5           0.5        0.5
2          1.0               2.0            0.5           0.5        0.5
3          0.0               0.0            0.5           0.5        0.5
4          0.0               2.0            0.0           0.5        0.5
...        ...               ...            ...           ...        ...
9129       0.0               2.0            1.0           0.5        0.5
9130       0.5               2.0            0.5           0.5        0.5
9131       0.5               0.0            0.5           0.5        0.5
9132       0.5               2.0            0.5           1.0        0.5
9133       0.5               0.0            0.5           0.5        0.5

[9134 rows x 5 columns]

In [39]:
X_cat= pd.DataFrame(categorical_df)
X_cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,0.0,0.5,2.0,F,0.5,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,0.5
1,Arizona,No,0.5,0.5,0.0,F,0.5,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,0.5
2,Nevada,No,1.0,0.5,2.0,F,0.5,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,0.5
3,California,No,0.0,0.5,0.0,M,0.5,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,0.5
4,Washington,No,0.0,0.5,2.0,M,0.0,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,0.0,0.5,2.0,M,1.0,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,0.5
9130,California,Yes,0.5,0.5,2.0,F,0.5,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,0.5
9131,California,No,0.5,0.5,0.0,M,0.5,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,0.5
9132,California,No,0.5,0.5,2.0,M,0.5,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,1.0
9133,California,No,0.5,0.5,0.0,M,0.5,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,0.5

In [40]:
X_cat_onehot = X_cat[['state','marital_status','policy_type','policy','renew_offer_type','sales_channel','vehicle_class','response','gender']]
X_cat_onehot

,state,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,response,gender
0,Washington,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,No,F
1,Arizona,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,No,F
2,Nevada,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,No,F
3,California,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,No,M
4,Washington,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,No,M
...,...,...,...,...,...,...,...,...,...
9129,California,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,No,M
9130,California,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Yes,F
9131,California,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,No,M
9132,California,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,No,M
9133,California,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,No,M

In [41]:
encoder = OneHotEncoder(drop='first').fit(X_cat_onehot)

cols = encoder.get_feature_names_out(input_features=X_cat_onehot.columns)

X_cat_OH_encode = pd.DataFrame(encoder.transform(X_cat_onehot).toarray(),columns=cols)

X_cat_OH_encode

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,policy_Corporate L2,policy_Corporate L3,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,response_Yes,gender_M
0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9130,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9132,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9133,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [42]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X_num)
X_norm = transformer.transform(X_num)
print(X_norm.shape)
X_num_scale = pd.DataFrame(X_norm, columns=X_num.columns)
X_num_scale.head()

(9134, 12)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,coverage,education,employmentstatus,location_code,vehicle_size
0,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000,0.0,0.5,1.0,0.5,0.5
1,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875,0.5,0.5,0.0,0.5,0.5
2,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125,1.0,0.5,1.0,0.5,0.5
3,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750,0.0,0.5,0.0,0.5,0.5
4,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000,0.0,0.5,1.0,0.0,0.5

In [46]:
X=pd.concat([X_num_scale, X_cat_OH_encode,X_cat_ordinal], axis=1) 
X.shape

(9134, 46)

In [47]:
# 1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Create a Linear Regression model
linear_model = LinearRegression()

# Fit the model to the training data
linear_model.fit(X_train, y_train)

# Make predictions on the test set
linear_predictions = linear_model.predict(X_test)

# Calculate the R^2 score for the linear model on both training and test sets
linear_score_train = linear_model.score(X_train, y_train)
linear_score_test = linear_model.score(X_test, y_test)

# Alternatively, you can use r2_score function
linear_r2_score_test = r2_score(y_test, linear_predictions)

In [49]:
print("Linear Model Training Score:", linear_score_train)
print("Linear Model Test Score:", linear_score_test)
print("R^2 Score on Test Set:", linear_r2_score_test)

Linear Model Training Score: 0.6367701953581316
Linear Model Test Score: 0.5901188451453289
R^2 Score on Test Set: 0.5901188451453289

In [50]:
from sklearn.neighbors import KNeighborsRegressor

KNN = KNeighborsRegressor(n_neighbors=3)
KNN.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=3)

In [51]:
knn_train_p = KNN.predict(X_train)

In [52]:
knn_test_p = KNN.predict(X_test)

In [53]:
score = KNN.score(X_test, y_test)
score
#r2 score

0.4394542209914901

In [54]:
score_train = KNN.score(X_train, y_train)
score_train

0.7339134864402806

In [55]:
#Function to evaluate the results of both models
def evaluate_models(X_train, X_test, y_train, y_test):
    # Initialize models
    linear_regressor = LinearRegression()
    knn_regressor = KNeighborsRegressor()
    
    # Train models
    linear_regressor.fit(X_train, y_train)
    knn_regressor.fit(X_train.values, y_train)
    
    # Predictions
    linear_preds = linear_regressor.predict(X_test)
    knn_preds = knn_regressor.predict(X_test.values)
    
    # Calculate mean squared errors
    linear_r2 = r2_score(y_test, linear_preds)
    knn_r2 = knn_regressor.score(X_test,y_test)
    
    return linear_r2, knn_r2

In [56]:
linear_r2, knn_r2 = evaluate_models(X_train, X_test, y_train, y_test)

C:\Users\Alex\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

In [57]:
linear_r2

0.5901188451453289

In [58]:
knn_r2

0.4526484412259605